:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--selected-color: #0068d8; /* blue */
	--selected-focus-color: #004997; /* dark blue */
}

[data-bs-theme="dark"] {
	--selected-color: #017a34; /* info blue */
	--selected-focus-color: #24553e; /* darker info */
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--bs-body-bg) !important;
	color: var(--bs-body-color) !important;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.npk-node {
	background-color: var(--bs-body-bg);
	border-collapse: collapse;
}

.npk-node:focus {
	outline: none;
}

.npk-node:focus > :first-child {
	background-color: var(--selected-focus-color) !important;
}

.npk-node-selected {
	background-color: var(--selected-color) !important;
}

.npk-variable {
	background-color: var(--bs-body-bg);
}

.npk-variable:focus,
.npk-unit:focus {
	outline: none;
	background-color: var(--selected-focus-color) !important;
}

.npk-unit {
	background-color: var(--bs-body-bg);
	display: inline-block;
	padding: 0.125rem 0.25rem;
}
